{% extends 'base.html.twig' %}

{% block title %} Bienvenue {% endblock %}

{% block body %}

    <br>

    <h1>{{ title }}</h1>

    <p>Ceci est mon blog réalisé avec Symfony 4, un framework que j'affectionne particulièrement.
        <br>Il sera amélioré au fur et à mesure de ma montée en compétences !</p>

    <p>
        J'ai créé ce projet grâce aux sites suivants :

        <ul>
            <li>
                <a href="https://www.youtube.com/watch?v=frURz_FywnA">Présentation de Symfony 4 : Quoi de neuf ?</a>
            </li><br>
            <li>
                <a href="https://www.youtube.com/watch?v=UTusmVpwJXo&t=65s">SYMFONY 1/4 : 1H POUR COMPRENDRE LE FRAMEWORK !</a>
            </li><br>
            <li>
                <a href="https://www.youtube.com/watch?v=_cgZheTv-FQ&t=1664s">SYMFONY 2/4 : 1H POUR COMPRENDRE LE FRAMEWORK !</a>
            </li><br>
            <li>
                <a href="https://www.youtube.com/watch?v=e5udJTjbYzw&t=23s">SYMFONY 3/4 : 1H POUR COMPRENDRE LE FRAMEWORK !</a>
            </li><br>
            <li>
                <a href="https://www.youtube.com/watch?v=_GjHWa9hQic">SYMFONY 4/4 : 1H POUR COMPRENDRE LE FRAMEWORK !</a>
            </li><br>
                <li><a href="https://symfony.com/">Site officiel de Symfony (et sa documentation)</a>
            </li>
        </ul>

    </p>

{% endblock %}